body #bd{
    background-color: rgb(191, 178, 202);
}
.tbl {
    border: 5px solid rgb(39, 1, 1);
    border-style: double;
    background-color: rgb(232, 185, 222);
    width: 90%;
    text-align: center;
    padding: 1rem;
    font-size: large;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5rem;
}
.heart{
    padding: 1rem;
}
.heart i:last-child{
    display: none;
}
.heart:hover i:first-child{
    display: none;
}
.heart:hover i:last-child{
    display: block;
}
.far, .fas{
    line-height: 2rem;
}
.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.orange{
    color: orange;
}
.yellow{
    color: brown;
}
.brown{
    color: rgb(131, 131, 4);
}
.indigo{
    color: rgb(162, 22, 181);
}
.violet{
    color: rgb(41, 22, 41);
}
